<h1>Add a dose to <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>


<div class="form-inputs">
<%= f.input :description, placeholder: "type your description here" %>
</div>

<div class="form-inputs">
<%= f.association :ingredient %>
</div>

<div class="form-actions" class="btn-medium" >
  <%= f.button :submit %>
</div>

<% end %>
